<section *ngIf="jogador">
  <h2>
      <div class="float-left">{{jogador.nome}}&nbsp;&nbsp;&nbsp;<span *ngIf="jogador.rookie" class="badge badge-warning">Rookie</span></div>
      <div *ngFor="let titulo of jogador.titulos" style="background:transparent url('assets/images/lourosSm.png') no-repeat center center" class="float-left">
        <small class="text-muted" style="text-align:middle">{{titulo.ano}}</small>
      </div>
      <div></div>
  </h2>
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <div class="col-lg-4 zeroPadding zeroMargin">
              <span class="text-muted">Pontos:</span>
            </div>
            <span class="text-warning">{{jogador.pontos}}</span>
            <span class="badge badge-primary">{{jogador.posicaoRanking}}º</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div class="col-lg-4 zeroPadding">
              <span class="text-muted">Jogos:</span>
            </div>
            <span>{{jogador.jogos}}
              <span class="badge badge-warning badge-pill">{{((jogador.jogos * 100) / totalJogos) | number : '1.0-0'}}%</span>
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div class="col-lg-4 zeroPadding">
              <span class="text-muted">Pontos/Jogo:</span>
            </div>
            <span>{{jogador.pontosPorJogo | number}}</span>
            <span class="badge badge-primary">{{jogador.posicaoPontosPorJogo}}º</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div class="col-lg-4 zeroPadding">
              <span class="text-muted">Media Posicao:</span>
            </div>
            <span>{{jogador.mediaPosicao | number}}</span>
            <span class="badge badge-primary">{{jogador.posicaoMediaPosicao}}º</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-lg-4 zeroPadding">
              <span class="text-muted">Vitórias:</span>
            </div>
            <span>{{jogador.qtdVitorias}}
              <span class="badge badge-dark badge-pill">{{((jogador.qtdVitorias * 100) / jogador.jogos) | number : '1.1-1'}}%</span>
            </span>
            <span class="badge badge-primary">{{jogador.posicaoVitorias}}º</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-lg-4 zeroPadding">
              <span class="text-muted">Heads-Up:</span>
            </div>
            <span>{{jogador.qtdHUs}}
              <span class="badge badge-dark badge-pill">Ganha {{((jogador.qtdVitorias * 100) / jogador.qtdHUs) | number : '1.0-0'}}%</span>
            </span>
            <span class="badge badge-primary">{{jogador.posicaoHU}}º</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-lg-4 zeroPadding">
              <span class="text-muted">Pontuações:</span>
            </div>
            <span>{{jogador.qtdPontuacoes}}
              <span class="badge badge-dark badge-pill">{{((jogador.qtdPontuacoes * 100) / jogador.jogos) | number : '1.1-1'}}%</span>
            </span>
            <span class="badge badge-primary">{{jogador.posicaoPontuacoes}}º</span>
          </li>
          <section *ngFor="let historico of jogador.historicoJogos">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="historico.lugar < 0">
              <div class="col-lg-4 zeroPadding">
                <span class="text-muted">Rebuys:</span>
              </div>
              <span>{{historico.quantidade}}
                <span class="badge badge-dark badge-pill">{{((historico.quantidade * 100) / jogador.jogos) | number : '1.1-1'}}%</span>
              </span>
              <span>&nbsp;&nbsp;&nbsp;</span>
            </li>
          </section>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-muted">Valor Investido:</span>
            <span>{{jogador.valorInvestido | currency:'R$'}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-muted">Valor Recebido:</span>
            <span>{{jogador.valorRecebido | currency:'R$'}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-muted">Saldo:</span>
            <span [ngClass]="{ 'text-danger' : jogador.valorRecebido - jogador.valorInvestido < 0, 'text-success': jogador.valorRecebido - jogador.valorInvestido > 0 }">{{jogador.valorRecebido - jogador.valorInvestido | currency:'R$'}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group float-right">
    <a href="#" class="btn btn-secondary">Voltar</a>
  </div>
<!--  <h5>
    <span class="text-muted">Vitórias:</span> <span>{{jogador.qtdVitorias.length}}</span>
  </h5>
  <section *ngFor="let vitoria of jogador.vitorias" style="margin-left: 20px">
    <h5>
      <a class="small" href="#/jogo/{{vitoria._id}}">{{vitoria.data | date: 'dd/MM/yyyy'}}</a>
    </h5>
  </section>
  <section *ngFor="let historico of jogador.historicoJogos">
    <h5 *ngIf="historico.lugar > 1">
      <span class="text-muted">{{historico.lugar}}ºs lugares:</span> <span>{{historico.quantidade}}</span>
    </h5>
  </section>
-->

</section>
