<div *ngIf="mensagem" class="alert alert-dismissible alert-success">{{mensagem}}</div>
<div *ngIf="erro" class="alert alert-dismissible alert-danger">{{erro}}</div>
<section>

    <div class="row">
      <div class="col-lg-3">
        <label class="col-form-label col-form-label-lg" for="inputLarge" >Jogadores Restantes</label>
        <h2>{{ jogadoresRestantes() }}</h2>
      </div>
      <div class="col-lg-6 row" style="text-align: center">
        <!-- <div class="col-lg-2">
          <h4>SB</h4>
          <h1>200</h1>
        </div>
        <div class="col-lg-8">
          <span>ANTE: 400</span><br>
          <span style="font-size: 90px">{{ tempo }}</span>
        </div>
        <div class="col-lg-2">
          <h4>BB</h4>
          <h1>400</h1>
        </div> -->
      </div>
      <div class="col-lg-3 text-right">
        <br>
        <br>
        <button (click)="lateRegister = true" type='button' *ngIf="logado && preJogo && !lateRegister" class="btn btn-warning">Late Register</button>
        <button (click)="incluirRegulares();" *ngIf="logado && !preJogo" type='button' class="btn btn-secondary">Incluir Regulares</button>
        <button (click)="salvar();" *ngIf="logado && !preJogo" type='button' class="btn btn-info">Salvar</button>
        <button (click)="sortear();" *ngIf="logado && preJogo && temRedraw()" type='button' class="btn btn-info">Sortear Lugares</button>
        <button (click)="cancelar();" *ngIf="logado && preJogo" type='button' class="btn btn-danger">Cancelar</button>
        <button (click)="finalizar();" *ngIf="logado && preJogo && (jogadoresRestantes() === 0)" type='button' class="btn btn-success">Finalizar Jogo</button>
      </div>
    </div>
    <div class="row" style="margin-top:10px">
       <div class="col-lg-3" *ngIf="!preJogo || lateRegister">
         <div class="card border-light mb-3">
           <div class="card-header">
             Todos Jogadores
           </div>
           <div class="card-body">
             <ul class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let jogador of jogadores">
                 {{jogador.nome}}
                 <div class="float-right">
                   <button type='button' *ngIf="logado" class="btn btn-outline-success btn-sm" (click)="adicionar(jogador);" title="Adicionar">>></button>
                 </div>
               </li>
             </ul>
           </div>
         </div>
       </div>

       <div class="col-lg-6" *ngFor="let m of mesas; let indMesa = index">
         <div class="card border-light mb-3" >
           <div class="card-header">
             Mesa {{indMesa + 1}}
             <div class="float-right">
                <button type='button' *ngIf="logado && !preJogo" class="btn btn-outline-danger btn-sm" (click)="removerTodos();" title="Remover todos"><<<</button>
             </div>
           </div>
           <div class="card-body">
             <ul class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let participante of getMesa(indMesa + 1); let i = index">
                 <span *ngIf="!participante.lugarNaMesa && !participante.eliminado">{{ participante.nomeJogador }}</span>
                 <span *ngIf="participante.lugarNaMesa && !participante.eliminado">P{{ participante.lugarNaMesa }} <span *ngIf="i == 0" class="badge badge-warning badge-sm">D</span> - {{ participante.nomeJogador }}</span>
                 <span *ngIf="participante.lugar && participante.eliminado" class="text-muted">{{ participante.lugar }}º - {{ participante.nomeJogador }}</span>
                 <span *ngIf="!logado && participante.rebuy > 0" class="badge badge-danger">{{ participante.rebuy > 1 ? participante.rebuy + " " : "" }}Rebuy</span>
                 <div class="float-right">
                   <span *ngIf="!logado && participante.pago" class="badge badge-warning">$</span>
                   <button type='button' *ngIf="logado && preJogo" class="btn btn-sm" (click)="pago(participante);" [ngClass]="{ 'btn-outline-warning' : participante.pago === false, 'btn-warning': participante.pago }">$</button>
                   <button type='button' *ngIf="logado && preJogo" class="btn btn-sm" (click)="rebuy(participante);" [ngClass]="{ 'btn-outline-secondary' : participante.rebuy === 0, 'btn-secondary': participante.rebuy > 0 }">{{ participante.rebuy > 1 ? participante.rebuy + " " : "" }}Rebuy</button>
                   <button type='button' *ngIf="logado && preJogo" class="btn btn-sm" (click)="maisRebuy(participante);" [ngClass]="{ 'btn-outline-secondary' : participante.rebuy === 0, 'btn-secondary': participante.rebuy > 0 }">+</button>
                   <button type='button' *ngIf="logado && preJogo" class="btn btn-sm" [ngClass]="{ 'btn-outline-danger': !participante.eliminado, 'btn-outline-success': participante.eliminado }" (click)="eliminar(participante);" title="Eliminar">X</button>
                   <button type='button' *ngIf="logado" class="btn btn-outline-danger btn-sm" (click)="remover(participante);" title="Remover"><<</button>
                 </div>
               </li>
             </ul>
           </div>
         </div>
       </div>
    </div>
</section>
