<h2>Caixa
  <div class="float-right">
    <h3>Saldo geral: <span class="text-warning">{{saldoGeral | currency:'R$'}}</span></h3>
  </div>
</h2>
<hr>
<div *ngIf="mensagem" class="alert alert-dismissible alert-success">{{mensagem}}</div>
<div *ngIf="erro" class="alert alert-dismissible alert-danger">{{erro}}</div>
<section *ngIf="!lancamentoEdicao">
  <div *ngFor="let conta of contas">
    <div class="float-right">
      <h4 class="text-warning">{{conta.saldoAtual | currency:'R$'}}</h4>
      <button class="btn btn-primary" (click)="novo(conta.conta);" *ngIf="config.usuarioLogado()">Novo Lançamento</button>
    </div>
    <h4>{{conta.nome}}</h4>
    <div *ngIf="conta.lancamentosCaixa && conta.lancamentosCaixa.length > 0" class="table-container">
      <table class="table table-hover">
        <!-- <tr>
          <td>Data</td>
          <td>Valor</td>
          <td>Descrição</td>
          <td></td>
          <td></td>
        </tr> -->
        <tbody>
          <tr *ngFor="let lancamento of conta.lancamentosCaixa">
            <td>{{lancamento.data | date:'dd/MM/yyyy'}}</td>
            <td><span [ngClass]="{ 'text-danger' : lancamento.valor < 0, 'text-success': lancamento.valor > 0 }">{{lancamento.valor | currency:'R$'}}</span></td>
            <td>{{lancamento.descricao}}</td>
            <td><button class="btn btn-secondary btn-sm" (click)="editar(lancamento);" *ngIf="config.usuarioLogado()">Editar</button></td>
            <td><button class="btn btn-danger btn-sm" (click)="excluir(lancamento);" *ngIf="config.usuarioLogado()">Excluir</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <hr />
  </div>
</section>
<section *ngIf="lancamentoEdicao">
  <form name="formLogin" (ngSubmit)="f.form.valid && salvar()" #f="ngForm" novalidate>
    <h4>Conta: {{lancamentoEdicao.conta}}</h4>
    <div class="form-group">
      <label for="lugar">Data</label>
      <input class="form-control" type="date" placeholder="" id="inputData" name="data" [(ngModel)]="lancamentoEdicao.data" #data="ngModel" />
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !valor.valid }">
        <label for="lugar">Valor</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !valor.valid }" name="valor" [(ngModel)]="lancamentoEdicao.valor" #valor="ngModel" required />
        <div *ngIf="f.submitted && !valor.valid" class="invalid-feedback">Valor é obrigatório</div>
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" name="descricao" [(ngModel)]="lancamentoEdicao.descricao" #descricao="ngModel" />
    </div>
    <div class="form-group">
        <button class="btn btn-success">Salvar</button>
        <button (click)="limpaMensagens();listar();" class="btn btn-secondary">Voltar</button>
    </div>
  </form>
</section>
