<h2>Jogos
<div class="float-right">
  <button class="btn btn-primary" (click)="novo();" *ngIf="config.usuarioLogado()">Novo</button>
</div>
</h2>
<hr>
<div *ngIf="mensagem" class="alert alert-dismissible alert-success">{{mensagem}}</div>
<div *ngIf="erro" class="alert alert-dismissible alert-danger">{{erro}}</div>
<section *ngIf="!jogoEdicao && jogos && jogos.length > 0">
  <div *ngFor="let jogo of jogos" class="card border-light mb-3">
    <div class="card-header">
      {{ jogo.data | date: 'dd/MM/yyyy' }}
      -
      Valor Maleta: {{ jogo.valorMaleta | currency:'R$' }}
      <div class="float-right">
        <!--<button class="btn btn-outline-success btn-sm" (click)="editar(jogo);">Editar</button>-->
        <button class="btn btn-outline-danger btn-sm" (click)="excluir(jogo);" *ngIf="config.usuarioLogado()">Excluir</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <th>Lugar</th>
          <th>Nome</th>
          <th>Pontos</th>
          <!--<th>Valor Investido</th>-->
          <th>Prêmio</th>
        </thead>
        <tbody>
          <tr *ngFor="let participante of jogo.participantes">
            <td>{{ participante.lugar }}º</td>
            <td>{{ participante.nomeJogador }}&nbsp;<span *ngIf="participante.rebuy" class="badge badge-danger">Rebuy</span></td>
            <td>{{ participante.pontos }}</td>
            <!--<td>{{participante.valorInvestido}}</td>-->
            <td>{{ participante.valorRecebido - participante.valorInvestido | currency:'R$' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section *ngIf="jogoEdicao">
  <form name="formLogin" (ngSubmit)="salvar();" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-lg-3">
        <label class="col-form-label col-form-label-lg" for="inputLarge" >Data</label>
        <input class="form-control form-control-lg" type="date" placeholder="" id="inputLarge" name="data" [(ngModel)]="jogoEdicao.data" #data="ngModel" />
      </div>
    </div>
    <div class="row" style="margin-top:10px">
       <div class="col-lg-3">
         <div class="card border-light mb-3">
           <div class="card-header">
             Todos Jogadores
           </div>
           <div class="card-body">
             <ul class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let jogador of jogadores">
                 {{jogador.nome}}
                 <div class="float-right">
                   <button type='button' class="btn btn-outline-success btn-sm" (click)="adicionar(jogador);" title="Adicionar">>></button>
                 </div>
               </li>
             </ul>
           </div>
         </div>
       </div>
       <div class="col-lg-4">
         <div class="card border-light mb-3">
           <div class="card-header">
             Resultado
             <div class="float-right">
                <button type='button' class="btn btn-outline-danger btn-sm" (click)="removerTodos();" title="Remover todos"><<<</button>
             </div>
           </div>
           <div class="card-body">
             <ul class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let participante of participantes; let i = index">
                 {{ participante.lugar }}º - {{ participante.nomeJogador }}
                 <div class="float-right">
                   <button type='button' class="btn btn-sm" (click)="rebuy(participante);" [ngClass]="{ 'btn-outline-secondary' : !participante.rebuy, 'btn-secondary': participante.rebuy }">Rebuy</button>
                   <button type='button' class="btn btn-outline-warning btn-sm" (click)="subir(i);" *ngIf="i !== 0" title="Subir">^</button>
                   <button type='button' class="btn btn-outline-danger btn-sm" (click)="remover(i);" title="Remover"><<</button>
                 </div>
               </li>
             </ul>
           </div>
         </div>
       </div>
    </div>
    <div class="form-group">
      <button type='submit' name="btnSubmit" class="btn btn-success" (click)="salvar();">Salvar</button>
      <button (click)="limpaMensagens();listar();" type='button' class="btn btn-secondary">Voltar</button>
    </div>
  </form>
</section>
