.navMenu{
    margin-bottom: 0 !important; 
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.35);
    z-index: 99;
    position: fixed;
    width: 100%;
}

.content{
    padding-top: 90px;
}

.submenu:hover .dropdown-menu{
    visibility: visible !important;
}

@media(max-width: 1150px){
    .navMenu{
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .submenu .dropdown-menu{
        visibility: visible !important;
    }

    .navMenu{
        font-size: 15px;
    }
}