<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="d-box">
    <a class="navbar-brand" href="#"><img src="/assets/images/TQSOP.png" width="25px" class="align-bottom" />&nbsp;TQSOP 2018</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse" [ngClass]="{ 'collapse' : !navAberta }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/']">Classificação</a>
      </li>
      <!-- <li class="nav-item" *ngIf="tempoReal || config.usuarioLogado()">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/prejogo']">Tempo Real</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/classificacaoMes']">Mês a Mês</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/jogo']">Jogos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/caixa']">Caixa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/pontuacao']">Pontuação</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/premiacao']">Premiação</a>
      </li>
      <li class="nav-item" *ngIf="config.usuarioLogado()">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/jogador']">Jogadores</a>
      </li>
      <li class="nav-item" *ngIf="config.usuarioLogado()">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/parametro']">Parâmetros</a>
      </li>-->
    </ul>
    <!-- <section *ngIf="logado()">
      <form class="form-inline mt-2 mt-md-0" (submit)="logout();">
        Olá {{nomeUsuario}}!&nbsp;&nbsp;
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </section>
    <section *ngIf="!logado()">
      <form class="form-inline mt-2 mt-md-0" (submit)="login();">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
      </form>
    </section> -->
  </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!--<script type="text/javascript">
    /*var feed = new Instafeed({
        get: 'tagged',
        tagName: 'batera',
        clientId: 'c6747f94b49c48359b84b969da7c61f0',
        template: '<a href="{{link}}"><img src="{{image}}" /></a>'
    });
    feed.run();*/
    //alert('teste');
</script>-->
<div id="instafeed">
  <!-- 01d27b6fe1de4bbaa6dee0b85de80d21 -->
<!--  -->

<!-- c6747f94b49c48359b84b969da7c61f0 -->
<!-- 128332ad7b354bb2baf94798a1f78d82 -->
</div>
