<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 navMenu">
  <div class="d-box">
    <a class="navbar-brand" href="#"><img src="/assets/images/TQSOP.png" height="25px" class="align-bottom" />&nbsp;TQSOP 2022</a> 
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse" [ngClass]="{ 'collapse' : !navAberta }">
    <ul class="navbar-nav mr-auto" (click)="navAberta = false">
      <li class="nav-item"  [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/classificacao']">Classificação</a>
      </li>
      <li class="nav-item" *ngIf="tempoReal || config.usuarioLogado()" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/prejogo']">Tempo Real</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/classificacaoMes']">Mês a Mês</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/jogo']">Jogos</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/graficos']">Gráficos</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/caixa']">Caixa</a>
      </li>
      
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/premiacao']">Premiação</a>
      </li>
      <li class="nav-item dropdown submenu" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" href="#" (click)="showConfig = !showConfig">Configuraçâo</a>
        <div class="dropdown-menu show" style="visibility: hidden;">
          <a class="dropdown-item" [routerLink]="['/pontuacao']" (click)="showConfig = !showConfig">Pontuação</a>
          <a class="dropdown-item" [routerLink]="['/controleDealer']" [routerLinkActive]="['active']">Controle Dealer</a>
          <a class="dropdown-item" [routerLink]="['/jogador']" *ngIf="config.usuarioLogado()" [routerLinkActive]="['active']">Jogadores</a>
          <a class="dropdown-item" [routerLink]="['/parametro']" *ngIf="config.usuarioLogado()" [routerLinkActive]="['active']">Parâmetros</a>
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/relogio']">Relógio</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/fotos']">Fotos</a>
      </li>
    </ul>
    <img src="/assets/images/logoBandeiraSemNome.png" height="50px" class="align-bottom" style="margin-right: 20px;" />
  </div>
</nav>
<div class="container content">
    <router-outlet></router-outlet>
</div>
<div *ngIf="globals.isLoading" class="loading-background">
</div>
