<h2>Regulamento</h2>
<hr>

<h4>Buy In</h4>
<ul>
  <li>BUY IN: R$ 30,00 (R$ 5,00 de cada para a maleta e R$ 55,00 do prêmio total para a taxa de faxina)</li>
  <li>REBUY: R$ 30,00 (100% do valor para a premiação)</li>
  <li>PERÍODO DE REBUY: Até o final do 4º nível de Blinds</li>
</ul>

<h4>Fichas</h4>
<ul>
  <li>Cada jogador começará com 15.000 fichas</li>
  <li>Para os jogadores que chegarem antes do início da partida serão acrescidas mais 3.000 fichas, totalizando assim 18.000 fichas. NÃO HAVERÁ EXCEÇÃO NESTA REGRA</li>
  <li>É considerado início do jogo assim que o dealer de uma das mesas der a primeira carta.</li>
  <li>Jogadores que forçarem o atraso da partida propositalmente não receberão as 3.000 fichas do time chip.</li>
  <li>Os rebuys serão de 15.000 fichas.</li>
  <li>Jogadores com 4k fichas ou menos (no final do período de rebuy, sem contar as trocas de fichas de 25) poderão fazer o rebuy e completar seu stack até chegar com 15k fichas. NÃO HAVERÁ EXCEÇÃO NESTA REGRA</li>
</ul>

<h4>Premiação</h4>
<p>Serão premiados os 3 primeiros colocados da seguinte maneira:</p>
<ul>
  <li>1º colocado – 65% da premiação</li>
  <li>2º colocado – 25% da premiação</li>
  <li>3º colocado – 10% da premiação</li>
  <ul>
    <li>Obs. A premiação mínima para o terceiro colocado é de R$ 30,00, caso esse valor não seja atingido o restante será tirado da premiação do primeiro colocado.</li>
  </ul>
</ul>

<h4>Datas</h4>
<ul>
  <li>Os jogos serão realizados preferencialmente às terças-feiras.</li>
  <li>Caso haja algum jogo na terça ele será mudado para quinta, caso tb não haja jogo.</li>
  <li>Caso haja jogo em todos os dias prevalece o bom senso.</li>
  <li>Não chegando a um bom senso teremos votação.</li>
  <li>Não tendo jogos nem na terça ou quinta podemos votar o melhor dia.</li>
</ul>

<h4>Número de Jogadores</h4>
<ul>
  <li>Uma etapa regular do TQSOP terá no mínimo 12 jogadores e no máximo 20 jogadores</li>
  <li>Caso não atinja 12 jogadores a etapa será remarcada ou cancelada</li>
  <li>Os 20 primeiros que responderem no grupo regular do TQSOP (ESSE GRUPO!) terão sua vaga garantida para a etapa.</li>
  <li>Como temos mais de 20 pessoas no grupo regular, a prioridade será por ordem de resposta.</li>
  <li>Caso alguém confirme e não compareça perderá a prioridade para semana seguinte (exceto para casos de emergência ou que seja julgado procedente)</li>
  <li>A partir das 17h do dia da etapa serão abertas vagas para os avulsos.</li>
</ul>
<br />
<br />
