<h2>Regulamento</h2>
<hr>

<h4>Resumo</h4>
<strong>
  <ul>
    <li>Buy In: 35,00 - 15K fichas (Time Chip - 3K fichas)</li>
    <li>Rebuy: 35,00 - 15K fichas (Disponível até o 4º nível de Blinds)</li>
    <li>Mínimo participantes: 12 - Máximo: 20</li>
    <li>Premiação: 1º - 65%, 2º - 25%, 3º - 10%</li>
  </ul>
</strong>
<br />

<h4>Buy In</h4>
<p>O Buy In (valor de entrada) será no valor de R$ 35,00 sendo:</p>
<ul>
  <li>R$ 25,00 destinado á premiação da noite</li>
  <li>R$ 5,00 destinado á premiação final do ano</li>
  <li>R$ 5,00 destinado ao Caixa logística</li>
</ul>
<br />

<h4>Fichas</h4>
<ul>
  <li>Cada jogador que houver pago o valor do Buy In receberá 15.000 fichas</li>
  <li>Para os jogadores que chegarem antes do início da partida receberão mais 3.000 fichas como prêmio (Time-chip), totalizando assim 18.000 fichas.</li>
  <ul>
    <li>Obs. É considerado início da partida o momento que o dealer de uma das mesas der a primeira carta.</li>
  </ul>
  <li>Jogadores que forçarem o atraso da partida propositalmente não receberão as 3.000 fichas de prêmio do Time-Chip.</li>
</ul>
<br />

<h4>Rebuy</h4>
<p>Será possível realizar um Rebuy (Reentrada) em uma das seguintes condições:</p>
<ul>
  <li>O jogador em questão perder todas as suas fichas e não haver terminado o 4º nível de Blinds.</li>
  <li>Ao fim do 4º nível de Blinds o jogador tiver 4.000 fichas ou menos.</li>
</ul>
<p>Obs. Ao realizar um um Rebuy (Reentrada) o jogador recebe o montante de fichas suficiente apenas para ficar com 15.000 fichas.</p>
<p>O valor do Rebuy (Reentrada) será no valor de R$ 35,00, sendo:</p>
<ul>
  <li>R$ 30,00 destinado á premiação da noite</li>
  <li>R$ 5,00 destinado ao Caixa logística</li>
</ul>
<br />

<h4>Premiação da noite</h4>
<p>Ao fim do torneio, serão premiados os 3 primeiros colocados da seguinte maneira:</p>
<ul>
  <li>1º colocado recebe 65% da premiação da noite</li>
  <li>2º colocado recebe 25% da premiação da noite</li>
  <li>3º colocado recebe 10% da premiação da noite</li>
  <ul>
    <li>Obs. A premiação mínima para o terceiro colocado é de R$ 30,00, caso esse valor não seja atingido o restante será tirado da premiação do primeiro colocado.</li>
  </ul>
</ul>
<p>Obs. Antes da divisão do prêmio será recolhido o valor de R$ 55,00 do total da premiação da noite, como taxa de limpeza.</p>
<br />

<h4>Datas</h4>
<p>Os jogos serão realizados preferencialmente às terças-feiras.</p>
<p>As datas estão sujeitas a alteração e estão disponíveis na seção <a href="#/agenda"><strong>Agenda</strong></a> deste site e serão divulgadas sempre por mensagem dentro do grupo regular do TQSOP (ESSE GRUPO!).</p>
<p>Os critérios para alteração e/ou cancelamento de datas seguem:</p>
<ul>
  <li>Jogo de futebol (em casa) de Corinthians, São Paulo ou Palmeiras.</li>
  <li>Problemas de logística com o local da etapa.</li>
  <li>Problemas de agenda com os anfitriões da etapa.</li>
  <li>Número mínimo de 12 pessoas não atingido.</li>
</ul>
<br />

<h4>Jogadores</h4>
<p>Uma etapa regular do TQSOP terá no mínimo 12 jogadores e no máximo 20 jogadores</p>
<p>Os 20 primeiros que responderem no grupo regular do TQSOP (ESSE GRUPO!) terão sua vaga garantida para a etapa.
  <br />
  Como temos mais de 20 pessoas no grupo regular, a prioridade será por ordem de resposta.
</p>
<p>Caso alguém confirme e não compareça perderá a prioridade para semana seguinte (exceto para casos de emergência ou que seja julgado procedente)</p>
<p>A partir das 17h do dia da etapa serão abertas as vagas restantes para os avulsos.</p>
<p>Obs. Caso não atinja 12 jogadores a etapa será remarcada ou cancelada</p>
<br />
<br />
