<h2>Jogadores
<div class="float-right">
  <button class="btn btn-primary" (click)="novo();" *ngIf="config.usuarioLogado() && !jogadorEdicao">Novo</button>
</div>
</h2>
<hr>
<div *ngIf="mensagem" class="alert alert-success">{{mensagem}}</div>
<div *ngIf="erro" class="alert alert-danger">{{erro}}</div>
<section *ngIf="!jogadorEdicao && jogadores && jogadores.length > 0">
  <table class="table table-hover">
    <thead>
      <th>Nome</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let jogador of jogadores">
        <td>
          <div class="float-left">{{jogador.nome}}&nbsp;</div>
          <div *ngFor="let titulo of jogador.titulos" class="float-left title">
            <small class="year">{{titulo.ano}}</small>
          </div>
          <div class="float-left"><span *ngIf="jogador.rookie" class="badge badge-warning">Rookie</span><span *ngIf="jogador.socio" class="badge badge-success">Sócio</span></div>
        </td>
        <td><button class="btn btn-secondary btn-sm" (click)="editar(jogador);" *ngIf="config.usuarioLogado()">Editar</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="excluir(jogador);" *ngIf="config.usuarioLogado()">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</section>
<section *ngIf="jogadorEdicao">
  <form name="formLogin" (ngSubmit)="f.form.valid && salvar()" #f="ngForm" novalidate>
    <div class="row">
      <div class="form-group col-lg-4" [ngClass]="{ 'has-danger': f.submitted && !nome.valid }">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !nome.valid }" name="nome" [(ngModel)]="jogadorEdicao.nome" #nome="ngModel" required />
          <div *ngIf="f.submitted && !nome.valid" class="invalid-feedback">Nome é obrigatório</div>
      </div>
      <div class="form-group col-lg-2">
          <label for="rookie">Opções</label><br />          
          <button type='button' class="btn" (click)="rookie();" [ngClass]="{ 'btn-outline-warning' : !jogadorEdicao.rookie, 'btn-warning': jogadorEdicao.rookie }">Rookie</button>
          <button type='button' class="btn" (click)="socio();" [ngClass]="{ 'btn-outline-success' : !jogadorEdicao.socio, 'btn-success': jogadorEdicao.socio }">Socio</button>
      </div>
      <div class="form-group col-lg-6">
        <label for="titulo">Títulos</label>
        <div>
          <div *ngFor="let titulo of jogadorEdicao.titulos; let i = index" class="float-left">
              <div style="background:transparent url('assets/images/lourosSm.png') no-repeat left center" class="float-left">
                <span class="text">{{titulo.ano}}&nbsp;</span>
                <button type='button' class="btn btn-sm btn-outline-danger" (click)="excluirTitulo(i);" >-</button>
              </div>
              &nbsp;
          </div>

          <button *ngIf="!tituloEdicao" type='button' class="btn btn-sm btn-outline-secondary" (click)="novoTitulo();">+</button>
          <div *ngIf="tituloEdicao">
              Ano: <button type='button' class="btn btn-sm btn-outline-secondary" (click)="desceAno();">-</button>
              {{tituloEdicao.ano}}
              <button type='button' class="btn btn-sm btn-outline-secondary" (click)="sobeAno();">+</button>
              <button type='button' class="btn btn-sm btn-outline-success" (click)="salvaTitulo();">OK</button>
              <button type='button' class="btn btn-sm btn-outline-danger" (click)="cancelaTitulo();">X</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4">
          <label for="foto">Caminho Foto</label>
          <input type="text" class="form-control"  name="foto" [(ngModel)]="jogadorEdicao.foto" #foto="ngModel" />
      </div>
      <div class="form-group col-lg-4">
        <img [src]="jogadorEdicao.foto" *ngIf="jogadorEdicao.foto" style="width: 250px; height: 250px;">
      </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success">Salvar</button>
        <button type='button' (click)="limpaMensagens();listar();" class="btn btn-secondary">Voltar</button>
    </div>
  </form>
</section>
