<h2>Jogadores
<div class="float-right">
  <button class="btn btn-primary" (click)="novo();" *ngIf="config.usuarioLogado()">Novo</button>
</div>
</h2>
<hr>
<div *ngIf="mensagem" class="alert alert-success">{{mensagem}}</div>
<div *ngIf="erro" class="alert alert-danger">{{erro}}</div>
<section *ngIf="!jogadorEdicao && jogadores && jogadores.length > 0">
  <table class="table table-hover">
    <thead>
      <th>Nome</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let jogador of jogadores">
        <td>{{jogador.nome}}&nbsp;<span *ngIf="jogador.rookie" class="badge badge-warning">Rookie</span></td>
        <td><button class="btn btn-secondary btn-sm" (click)="editar(jogador);" *ngIf="config.usuarioLogado()">Editar</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="excluir(jogador);" *ngIf="config.usuarioLogado()">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</section>
<section *ngIf="jogadorEdicao">
  <form name="formLogin" (ngSubmit)="f.form.valid && salvar()" #f="ngForm" novalidate>
    <div class="row">
      <div class="form-group col-lg-4" [ngClass]="{ 'has-danger': f.submitted && !nome.valid }">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !nome.valid }" name="nome" [(ngModel)]="jogadorEdicao.nome" #nome="ngModel" required />
          <div *ngIf="f.submitted && !nome.valid" class="invalid-feedback">Nome é obrigatório</div>
      </div>
      <div class="form-group col-lg-1">
          <label for="rookie">Opções</label>
          <button type='button' class="btn" (click)="rookie(participante);" [ngClass]="{ 'btn-outline-warning' : !jogadorEdicao.rookie, 'btn-warning': jogadorEdicao.rookie }">Rookie</button>
      </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success">Salvar</button>
        <button (click)="limpaMensagens();listar();" class="btn btn-secondary">Voltar</button>
    </div>
  </form>
</section>
