<h2>Jogos</h2>
<div *ngIf="mensagem" class="alert alert-dismissible alert-success">{{mensagem}}</div>
<div *ngIf="erro" class="alert alert-dismissible alert-danger">{{erro}}</div>
<section *ngIf="!jogoEdicao && jogos && jogos.length > 0">

  <div *ngFor="let jogo of jogos" class="card border-light mb-3">
    <div class="card-header">{{ jogo.data | date }}</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <th>Lugar</th>
          <th>Nome</th>
        </thead>
        <tbody>
          <tr *ngFor="let participante of jogo.participantes">
            <td>{{participante.lugar}}º</td>
            <td>{{participante.nomeJogador}}&nbsp;<span *ngIf="participante.rebuy" class="badge badge-danger">Rebuy</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
