.text-red{
    color: red;
}

h1.relogio{
    font-size: 250px;
}

h1.blinds{
    font-size: 120px;
}

button.button-relogio{
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
}

button.button-relogio:hover{
    background-color: gray;
}

@media (max-width: 800px){
    h1.relogio{
        font-size: 100px;
    }
    
    h1.blinds{
        font-size: 50px;
    }
}