<div id="relogio" [ngClass]="{ 'text-red': minutos == 0 && segundos <= 3 }">
    <h2 class="hidden-sm-down">Relógio</h2>
    <h4 class="hidden-md-up">Relógio</h4>
    <hr>
    <div class="row">
        <div class="col-lg-10">
            <div *ngIf="nivelAtual">
                <div class="row justify-content-center" *ngIf="nivelAtual.nivel">
                    <h2 *ngIf="nivelAtual">Nível {{ nivelAtual.nivel }}</h2>
                </div>
                <div class="row justify-content-center">
                    <h1 class="relogio" [ngClass]="{'text-info': status == 'PARADO', 'text-warning': status == 'INICIADO'}">{{ minutos | number : '2.0' }}:{{ segundos | number : '2.0' }}</h1>
                </div>
                <div class="row justify-content-center" *ngIf="nivelAtual.sb && nivelAtual.bb">
                    <div class="col-lg-6 justify-content-center text-align-center">
                        <h2>SB</h2>
                        <h1 class="blinds text-align-center">{{ nivelAtual.sb | number : '2.0' }}</h1>
                    </div> 
                    <div class="col-lg-6 justify-content-center text-align-center">
                        <h2>BB</h2>
                        <h1 class="blinds text-align-center">{{ nivelAtual.bb | number : '2.0' }}<span class="hidden-sm-up" *ngIf="nivelAtual.ante">*</span></h1>
                    </div>
                </div>
                <div class="row justify-content-center hidden-sm-down" *ngIf="nivelAtual.ante">
                    <h1>Ante: {{ nivelAtual.ante | number : '2.0' }}</h1>
                </div>
                <div class="row justify-content-center" *ngIf="nivelAtual.msg">
                    <h1>{{ nivelAtual.msg }}</h1>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="config.usuarioLogado()">
                <button type="button" class="button-relogio text-info" (click)="voltarBlind()"><mat-icon>skip_previous</mat-icon></button>
                <button type="button" class="button-relogio text-success" (click)="iniciar()" *ngIf="status == 'PARADO'"><mat-icon>play_arrow</mat-icon></button>
                <button type="button" class="button-relogio text-danger" (click)="parar()" *ngIf="status == 'INICIADO'"><mat-icon>pause</mat-icon></button>
                <button type="button" class="button-relogio text-warning" (click)="reiniciar()" *ngIf="status == 'PARADO'"><mat-icon>replay</mat-icon></button>
                <button type="button" class="button-relogio text-info" (click)="avancarBlind()"><mat-icon>skip_next</mat-icon></button>
            </div>
        </div>
        <div class="col-lg-2 hidden-sm-down" *ngIf="estruturaRelogio">
            <h3>Níveis Blind</h3>
            <div *ngFor="let blind of estruturaRelogio">
                <p *ngIf="blind.bb" [ngClass]="{ 'text-info' : nivelAtual.nivel == blind.nivel }">{{ blind.nivel }}: {{ blind.sb | number : '2.0' }} / {{ blind.bb | number : '2.0' }}<span *ngIf="blind.ante">*</span></p>
                <p *ngIf="!blind.bb" [ngClass]="{ 'text-info' : nivelAtual.nivel == blind.nivel }">{{ blind.msg }} ({{ blind.segs / 60 }} mins) </p>
            </div>
        </div>
    </div>
</div>