<div class="float-right">
  <a href="https://tqsop2018.herokuapp.com/#/">Classificação 2018</a>
</div>
<h2 class="hidden-sm-down">Classificação&nbsp;
  <button type="button" (click)="altRookies();" class="btn btn-lg" [ngClass]="{ 'btn-outline-success' : rookies, 'btn-success': !rookies }">Geral</button>
  <button type="button" (click)="altRookies();" class="btn btn-lg" [ngClass]="{ 'btn-outline-success' : !rookies, 'btn-success': rookies }">Rookies</button>
</h2>
<h4 class="hidden-md-up">Classificação&nbsp;
  <button type="button" (click)="altRookies();" class="btn btn-md" [ngClass]="{ 'btn-outline-success' : rookies, 'btn-success': !rookies }">Geral</button>
  <button type="button" (click)="altRookies();" class="btn btn-md" [ngClass]="{ 'btn-outline-success' : !rookies, 'btn-success': rookies }">Rookies</button>
</h4>
<section>
  <table class="table table-hover">
    <thead>
      <th></th>
      <th>Jogador</th>
      <th [ngClass]="{ 'table-active' : ordem == 'P' || !ordem }">
        <span class="hidden-sm-down"><button type="button" class="btn btn-outline-secondary linkTH" (click)="ordenar('P');">Pontos</button></span>
        <span class="hidden-md-up"><button type="button" class="btn btn-outline-secondary linkTH" (click)="ordenar('P');">Pts</button></span>
      </th>
      <th>
        <span class="hidden-sm-down">Jogos</span>
        <span class="hidden-md-up">Jg</span>
      </th>
      <th class="hidden-sm-down" [ngClass]="{ 'table-active' : ordem == 'V' }"><button type="button" class="btn btn-outline-secondary linkTH" (click)="ordenar('V');">1º</button></th>
      <th class="hidden-sm-down">2º</th>
      <th class="hidden-sm-down">3º</th>
      <th class="hidden-sm-down">4º</th>
      <th class="hidden-sm-down">5º</th>
      <th class="hidden-sm-down">6º</th>
      <th class="hidden-sm-down">Rebuy</th>
      <th class="hidden-sm-down" [ngClass]="{ 'table-active' : ordem == 'PPJ' }"><button type="button" class="btn btn-outline-secondary linkTH" (click)="ordenar('PPJ');">Pts/Jogo</button></th>
      <th class="hidden-sm-down">Valor Investido</th>
      <th class="hidden-sm-down" [ngClass]="{ 'table-active' : ordem == 'VR' }"><button type="button" class="btn btn-outline-secondary linkTH" (click)="ordenar('VR');">Valor Recebido</button></th>
      <th [ngClass]="{ 'table-active' : ordem == 'S' }"><button type="button" class="btn btn-outline-secondary linkTH" (click)="ordenar('S');">Saldo</button></th>
    </thead>
    <tbody>
      <tr *ngFor="let jogador of jogadores; let i = index">
        <td>
            <a class="btn btn-sm btn-outline-success hidden-sm-down" href="#/jogador/{{jogador._id}}">{{i + 1}}º</a>
            <a class="hidden-md-up text-success" href="#/jogador/{{jogador._id}}">{{i + 1}}º</a>
        </td>
        <td><div class="float-left">{{jogador.nome}}&nbsp;<span *ngIf="jogador.rookie" class="badge badge-warning">R</span></div>
          <div *ngFor="let titulo of jogador.titulos" style="background:transparent url('assets/images/lourosXs.png') no-repeat center center" class="float-left">
            <small class="text-muted">{{titulo.ano}}</small>
          </div>
        </td>
        <td class="text-warning text-center" [ngClass]="{ 'table-active' : ordem == 'P' || !ordem }">{{jogador.pontos}}</td>
        <td class="text-center">{{jogador.jogos}}</td>
        <td class="hidden-sm-down" [ngClass]="{ 'table-active' : ordem == 'V'}">{{qtdLugarJogador(jogador, 1)}}</td>
        <td class="hidden-sm-down">{{qtdLugarJogador(jogador, 2)}}</td>
        <td class="hidden-sm-down">{{qtdLugarJogador(jogador, 3)}}</td>
        <td class="hidden-sm-down">{{qtdLugarJogador(jogador, 4)}}</td>
        <td class="hidden-sm-down">{{qtdLugarJogador(jogador, 5)}}</td>
        <td class="hidden-sm-down">{{qtdLugarJogador(jogador, 6)}}</td>
        <td class="hidden-sm-down">{{qtdLugarJogador(jogador, -1)}}</td>
        <td class="hidden-sm-down" [ngClass]="{ 'table-active' : ordem == 'PPJ'}">{{(jogador.pontos / jogador.jogos) | number}}</td>
        <td class="hidden-sm-down">{{jogador.valorInvestido | currency:'R$'}}</td>
        <td class="hidden-sm-down" [ngClass]="{ 'table-active' : ordem == 'VR' }">{{jogador.valorRecebido | currency:'R$'}}</td>
        <td [ngClass]="{ 'table-active' : ordem == 'S' }"><span [ngClass]="{ 'text-danger' : jogador.valorRecebido - jogador.valorInvestido < 0, 'text-success': jogador.valorRecebido - jogador.valorInvestido > 0 }" >{{jogador.valorRecebido - jogador.valorInvestido | currency:'R$'}}</span></td>
      </tr>
    </tbody>
  </table>
</section>
